﻿@model FizzBuzz.Models.FizzBuzzModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Print Numbers</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.InputNumber, "Enter a number", htmlAttributes: new { @class = "control-label col-md-2", Style = "color:red" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InputNumber, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.InputNumber)
                </div>
            </div>
        </div>
        <div class="from-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="SUBMIT" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            @if (Model?.numbers?.Count > 0)
            {
                <div class="col-md-offset-2 col-md-10">
                    @foreach (var item in Model.numbers)
                    {
                        var result = item.Split(' ');
                        foreach (var str in result)
                        {
                            <span class="@str">@str</span>
                        }
                        <br />

                    }
                </div>
                <div id="container" style="margin-left: 20px">

                    @{ var renderOptions = PagedListRenderOptions.Minimal;
                        renderOptions.LinkToPreviousPageFormat = "Previous";
                        renderOptions.LinkToNextPageFormat = "Next"; }

                    <div class="pagination" style="margin-left: 400px">
                        @Html.PagedListPager(Model.numbers, page => Url.Action("Index", new { Model.InputNumber, page }), renderOptions)
                    </div>

                </div>
            }
        </div>
    </div>
}
